:root{
    --b:rgb(56, 122, 197);
    --db:rgb(32, 62, 82);
}

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.full{
    height: 100%;
    background-color: var(--db);
    display: flex;
    flex-direction: column;
}


.header{
    background-color: var(--b);
    color: white;
    height: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.bod{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.left{
    width: max(35%, 300px);
    display: flex;  
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
}

form{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    padding: 5% 4%;
    width: max(70%, 300px);
}

form > *{
    margin: 10px;
}

#right{
    width: 100%;
    display: grid;
    height: 100%;
}

.header > p{
    font-size: 200%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

#sub{
    border-style: none;
    background-color: var(--b);
    color: white;
    font-size: 25px;
    border-radius: 5px;
}

form > #x{
    background-color: rgb(241, 241, 241);
    border-style: none;
    border-radius: 5px;
    font-size: 18px;
}
#right div{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    
} 

#right{
    display: grid;
}